.sb1 {
  float: right;
  /* content: ""; */
  /* width: 0px;
  height: 0px; */
  /* position: absolute; */
  /* /* border-left: 10px solid #00bfb6; */
  border: 5px solid red;
  /* border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 6px; */
}

.sb2 {
  float: left;
  border: 5px solid red;
  /* width: 0px;
  height: 0px; */
  /* position: absolute; */
  /* border-left: 10px solid transparent;
  border-right: 10px solid #00bfb6;
  border-top: 10px solid #00bfb6;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 6px; */
}
